<%= form_for(@usersrake) do |f| %>
  <% if @usersrake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usersrake.errors.count, "error") %> prohibited this usersrake from being saved:</h2>

      <ul>
      <% @usersrake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :routes %><br>
    <%= f.text_field :routes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
