<div class="container page-content">

<h1 align="center">Thindustrial Users <span style="font-weight: lighter; font-size:.5em;">(<%= User.all.count %> total)</h1>

<% @users.order(:lastname).each do |user| %>
	<ul class="listing">
		<div class="row">
			<div class="well" style="padding:5px 20px; min-height:60px; text-align:center;">
				<li class="col-md-1">
					<%= link_to gravatar_for(user, size: 50), user_path(user) %>
				</li>
				<li class="col-md-3 listing-name"><%= link_to "#{user.firstname} #{user.lastname}", user_path(user) %></li>
				<li class="col-md-3 listing-company"><%= user.company %></li>
				<li class="col-md-3 listing-email"><%= user.email %></li>
				<% if logged_in? && current_user.admin? %>
				<li class="col-md-2 listing-email"><%= link_to "Delete User", user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete #{user.firstname}?" } %></li>
				<% end %>
			</div>
		</div>
	</ul>
<% end %>
<div align="center">
	<%= will_paginate %>
</div>
</div>