<div class="container profile-content page-content">
	
<div class="userpage-profile-block">
	<h1 align="center">Attendee Profile</h1>
	<div class="row">
		<div class="grav-image">
			<%= gravatar_for @user, size: 100 %>
		</div>
		<p class="tiny" align="center">powered by <a href="http://gravatar.com" target="_blank">Gravatar</a></p>
	</div>
	<h2><%= @user.firstname %> <%= @user.lastname %> 
	<% if @user.id == current_user.id or current_user.admin == true %>
	&nbsp; <%= link_to "edit", edit_user_path(@user), class: "edit-link" %></h2>
	<% end %>
	<h4 align="center"><%= @user.company %></h4>
	<p align="center"><%= @user.street %></p>
	<p align="center" style="margin-bottom:10px !important;"><%= @user.city %>, <%= @user.state %> <%= @user.zipcode %></p>
	<p align="center">Email: <%= @user.email %></p>
	<br /><br />
	<% if current_user == @user or current_user.admin? %>
	<div class="well" align="center" style="border-radius:10px; background-color:#C3CFD4;">
		<h3 class="actions-heading">Actions Center</h3>
		<p>Current Registration Balance = <span style="font-weight:bold;">$<%= @user.balance %></span></p>
		<div class="action-blocks">
		<div class="a-block"><%= link_to (image_tag 'action-schedule.png'), user_path(@user) %><p class="teenie">print<br />schedule</p></div>
		<div class="a-block"><%= link_to (image_tag 'action-po.png'), user_path(@user) %><p class="teenie">email<br />invoice</p></div>
		<div class="a-block"><%= link_to (image_tag 'action-card.png'), new_charge_path(:user_id => @user.id) %><p class="teenie">pay by<br />card</p></div>
		</div>
	</div>
	<% end %>
</div>



<div class="userpage-schedule-block">
	<h2 align="center">Current Schedule</h2>
	<% if @user == current_user %>
	<p align="center" class="add-link"><%= link_to "add sessions", courses_path %></p>
	<%end %>
	<br />
	<% Schedule.where(user_id: @user.id).order(:timeblock).each do |schedule| %>
			
			<div class="user-schedule-class">
				<div class="user-schedule-class-title">
					<p><%= link_to "#{schedule.course.title}", course_path(schedule.course.id), style: "color:inherit;" %></p>
				</div>
				<div class="user-schedule-class-time">
					<p>Time: <%= schedule.timeblock %></p>
				</div>
				<div class="user-schedule-class-remove">
					<% if @user.id == current_user.id or current_user.admin == true %>
						<%= link_to 'Remove Session', schedule_path(schedule), method: :delete, 
                        data: {confirm: "Are you sure you want to remove this session from your schedule?"} %>
					<% end %>	
				</div>
			</div>
		
	<% end %>
</div>


</div>