<style>
ul.navbar-right a {
	color:#FFFFFF !important;
}
ul.navbar-right .login-button,
.dropdown ul li a {
	color:#3A3E40 !important;
}
.navbar-brand img {
	-webkit-filter: invert(100%); filter: invert(100%);
}
@media screen and (max-width:767px) {
ul.navbar-right a {
	color:#3A3E40 !important;
}
.navbar-brand img {
	-webkit-filter: invert(0%); filter: invert(0%);
}
}
</style>

<div class="hp-splash">
	<div class="container">
		<h1 class="hp-splash-heading">the<br /><span>industrial mobility</span><br />conference</h1>
		<p class="hp-splash-date-heading">SOMECITY. JUNE, 2017</p>
		<% if !logged_in? %>
		<%=link_to 'REGISTER', register_path, type: "button", class: "btn btn-default hp-splash-register" %>
		<% else %>
		<%=link_to 'MY ACCOUNT', user_path(current_user), type: "button", class: "btn btn-default hp-splash-register" %>
		<% end %>
	</div>
<div class="banner-dont-miss">
	<div class="container">
		<p><span> &darr;&nbsp;&nbsp;&nbsp; </span> Scroll Down <span> &nbsp;&nbsp;&nbsp;&darr; </span></p>
	</div>
</div>
</div>
<div class="hp-span-one">
	<div class="container">
		<h1 align="center" style="color:#003366;">ABOUT THINDUSTRIAL</h1>
		<div class="orange-bar"></div>
		<p align="center">We are revolutionizing the factory and how it operates. <span class="goAway"><br /></span>Mobile solutions, state of the art security and full control of the floor are at your finger tips. All of this and more makes Thindustrial the event you truly don't want to miss.</p>
	</div>
</div>

<div class="hp-edge-span">
	<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2>Introducing</h2>
		</div>
	</div>
		<div class="edge-logo">
		 	<%= image_tag 'Edge-Logo.png' %> 
		</div>
		<div class="edge-mockup">
			<%= image_tag 'ThinManager-Edge-Mockup.jpg' %> 
		</div>
		<div class="row edge-heading">
			<h1>Gain the Edge <span class="goAwaySooner"><br /></span>on Device Configuration and Deployment</h1>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p>The all new Edge device from ThinManager provides a turnkey solution for configuring and deploying the world's most advanced thin client management system. The Edge comes preloaded with Windows Server 2016, TS Cals, pre-activated RDS licenses and, of course, ThinManager.</p>

				<p>The Edge device incorporates new ThinManager plug-n-play technology which auto-senses ThinManager-Ready devices and pre-configures them for immediate deployment. The Edge device also auto-senses other Edge devices so that redundancy is automatically enabled when connected additional Edge devices to your network.</p>
			</div>
		</div>
		<br /><span class="goAway"><br /></span>
		<div class="row sub-points">
			<div class="col-md-3">
				<h3>Edge Cloud Services</h3>
				<p>Edge devices can be easily configured to connect to ThinManager Edge Cloud Services. ThinManager ECS can store configurations and other important data in the secure cloud. ACP provides several APIs for connecting your ThinManager plant floor data to ERP or other enterprise software platforms used to analyze and share information at the corporate level.</p>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<h3>Cutting Edge Plant Floor</h3>
				<p>ThinManager customers have always used the platform as the go-to solution for managing every PC, thin client and mobile device. Now, that same solution brings all of the ease-of-use of ThinManager to the server.</p>

				<p>The Edge server supports ThinManager's powerful new virtualization technology (DRIVE) Deployable Resource in Virtualized Environment. Using the Edge configuration wizard, administrator's can easily virtualize their Remote Desktop Server(s) without incurring any additional costs for a third part virtualization solution.</p>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<h3>The Edge of the Future</h3>
				<p>Centralized, client-based deployment is now widely accepted as the best way to deploy and manage plant floor applications and devices. The new ThinManager Edge now makes using thin technology as easy as opening the box, plugging it in and turning it on. Don't waste your time and money piecing together a thin client solution. Get ThinManager and gain the Edge on your competition today.</p>
			</div>
		</div>
	</div>
</div>

<div class="hp-more-about">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Get Ready To Be Amazed!</h1>
				<p>We are revolutionizing the factory and how it operates. Mobile solutions, state of the art security and full control of the floor are at your finger tips.</p>
				<p>Over 3 days attendees will be able to learn and be trained on how to integrate ThinManager Platform 9 in to the factory setting. We feature speakers from around the industry to captivate, educate and entertain.</p>
				<p>Thindustrial offers plenty of workshops and classes. These learning opportunities cover a wide range of information about ThinManager and factory automation. Once registered for Thindustrial you can select the courses and sessions you would like to attend.</p>
			</div>

			<div class="col-md-3 col-md-offset-1" style="color:#F1F1F1;">
			<h1>Agenda</h1>	
			<p>Download the complete Agenda and Session Worksheet. This worksheet details exactly when trainings, workshops and keynotes will occur.</p>
			<a href="#"><button class="btn btn-default btn-lg">Download &raquo;</button></a>
			</div>
		</div>
	</div>
</div>

<div class="hp-speakers">
	<div class="container">
		<div class="row" align="center">
			<div class="col-md-10 col-md-offset-1">
				<h1>Amazing Speakers</h1>
				<p>We have lined up amazing speakers, end users, and industry experts.</p>
			</div>
		</div>
		
		<div class="row">
		<div class="col-sm-3 speaker"><div class="bio-pic"></div><h4>Speaker Name</h4><p>Company Name</p></div>
		<div class="col-sm-3 speaker"><div class="bio-pic"></div><h4>Speaker Name</h4><p>Company Name</p></div>
		<div class="col-sm-3 speaker"><div class="bio-pic"></div><h4>Speaker Name</h4><p>Company Name</p></div>
		<div class="col-sm-3 speaker"><div class="bio-pic"></div><h4>Speaker Name</h4><p>Company Name</p></div>
		</div>
	</div>
</div>


<div class="hp-wanna-go">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<a href="#"><div class="justify-this"><%= image_tag 'justification-graphic.png' %></div></a>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<h1>Hey Bossman, I want to go!</h1>
				<p>There is no doubt that Thindustrial is worth your time. From fantastic speakers, thin client and ThinManager training, to all the informative sessions and workshops. But if you are worried about your boss feeling the same way, we can help. Our easy to fill out justification letter creates an easy starting point for you to talk to the boss about why you should be at Thindustrial.</p>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
(function() {
    
    $(".banner-dont-miss").delay(1500).animate({
        height: '65'
        }, 500, "swing", function() {
        	$('.banner-dont-miss p').fadeIn(100);
        	$('.banner-dont-miss p span').delay(600).animate({opacity: '1'}, 400, "swing");
        }).delay(2500).animate({height: '0'}, 400, "swing", function() {
        	$('.banner-dont-miss p').fadeOut(0);
        	$('.banner-dont-miss p span').animate({opacity: '0'}, 0, "swing");
        });;
    
})();
</script>