<div class="container page-content">
    <h1 align="center">Thindustrial Card Payments <span style="font-weight: lighter; font-size:.5em;">( $<%= @total %> total )</h1>
    <br />
    <% @payments.each do |payment| %>
        <ul class="listing">
        <div class="row">
            <div class="well" style="padding:10px 20px; min-height:45px; text-align:center; margin-bottom:5px; line-height:25px; font-size:.85em;">
               <li class="col-md-3"><%= payment.created_at %></li>
               <li class="col-md-2"><%= User.find(payment.user_id).firstname %> <%= User.find(payment.user_id).lastname %></li>
               <li class="col-md-3"><%= User.find(payment.user_id).company %></li>
               
               <li class="col-md-3"><%= payment.token %></li>
               <li class="col-md-1" style="color:blue;">$<%= payment.amount %></li>
            </div>
        </div>
    </ul>
<% end %>

</div>
