<div class="container page-content">
    <h1 align="center">Thindustrial Credit Card Payments</h1>
    <br />
    <% @payments.each do |payment| %>
        <ul class="listing">
        <div class="row">
            <div class="well" style="padding:5px 20px; min-height:30px; text-align:center; margin-bottom:3px;">
               <li class="col-md-2"><%= User.find(payment.user_id).firstname %> <%= User.find(payment.user_id).lastname %></li>
               <li class="col-md-4"><%= payment.email %></li>
               <li class="col-md-2"><%= payment.token %></li>
               <li class="col-md-2" style="color:blue;">$<%= payment.amount %></li>
            </div>
        </div>
    </ul>
<% end %>

</div>
