<div class="container courses-content">
<p id="notice"><%= notice %></p>

<div class="row">
<h1 class="col-xs-8">Listing Courses</h1>
<div class="col-xs-4" align="right"><%= link_to 'Add New Course', new_course_path, class: "btn btn-lg btn-default" %></div>
</div>
<hr />
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th align="center">Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <td align="center"><%= course.timeblock %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>