<div class="container page-content">

<h2 align="center" class="course-title">
  <%= @course.title %>
</h2>

<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="description-header">Description:</h4>
  <div class="course-show-description"><%= simple_format (@course.description) %></div>
  <% if logged_in? %>
    <div class="course-listing-actions" align="right">
        <%= link_to 'Add to Schedule', schedules_path(:user_id => current_user.id, :course_id => @course.id, :timeblock => @course.timeblock),  method: :create, data: {confirm: "Are you sure you want to add this session to your schedule?"}, class: "btn btn-primary btn-sm" %> <!-- Change path to add new entry to schedules db table--> 
      <% if current_user.admin? %>
        <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-default btn-sm" %> 
        <%= link_to 'Delete', course_path(@course), method: :delete, 
                  data: {confirm: "Are you sure you want to delete the article?"}, 
                  class: "btn  btn-danger btn-sm", style: "color:#FFFFFF;" %>
      <% end %>
    </div>
  <% end %>
  <hr style="margin-bottom:5px; margin-top:10px;" />
  <div class="category-tags">
    <% if @course.categories.any? %>
      <p><%= render @course.categories %></p>
    <% end %>
  </div>
  <small>
  		Time: <%= @course.timeblock %>
	</small>
</div>  
<% if logged_in? %>
  <div class="article-action-links">
    <div class="container">
      <div class="col-xs-12">
        <%= link_to 'Back to all Sessions', courses_path %>
      </div>
    </div>
  </div>
<% end %>

<% if logged_in? and current_user.admin? %>
<br /><br />
<hr />
<br /><br />
<h3 align="center" style="font-weight:bold; font-size:1.25em;">Registered Attendees</h3>
<br /><br />
<% Schedule.where(course_id: @course.id).each do |schedule| %>
      <div class="row">
        <div class="col-md-6 course-show-attendee-name">
          <p><%= link_to "#{schedule.user.firstname} #{schedule.user.lastname}", user_path(schedule.user_id) %></p>
        </div>
        <div class="col-md-6 course-show-attendee-company">
          <p><%= schedule.user.company %></p>
        </div>
      </div>
  <% end %>
<% end %>
</div>