<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="content-box">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (image_tag 'Thindustrial17-Logo_600x301.png'), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<div id="nav-center-it">-->
      
      <ul class="nav navbar-nav navbar-right goAway">
        <%= link_to 'LOGIN', login_path, type: "button", class: "btn btn-default navbar-btn login-button" %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'HOME', root_path %></li>
        <li><%= link_to 'REGISTER', register_path %></li>
        <li><%= link_to 'SPONSORS & EXHIBITORS', sponsors_path %></li>
        <li><%= link_to 'SCHEDULE', schedule_path %></li>
        <li><%= link_to 'CONTACT', contact_path %></li>
        
      </ul>
      <!--</div>-->
      <ul class="nav navbar-nav navbar-right appear">
        <%= link_to 'LOGIN', login_path, type: "button", class: "btn btn-default navbar-btn login-button" %>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div>
  </div><!-- /.container-fluid -->
</nav>